In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/06 03:44:01 WARN Utils: Your hostname, codespaces-800b10 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/03/06 03:44:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/06 03:44:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/06 03:44:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
# initial test
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

df.show()
df.write.parquet('zones')

In [3]:
# explore homework data
import pandas as pd
df = pd.read_csv('fhv_tripdata_2019-11.csv')
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00013,2019-11-01 00:24:35,2019-11-01 01:18:05,264.0,264.0,NaN,B00013
1,B00013,2019-11-01 00:43:53,2019-11-01 01:21:20,264.0,264.0,NaN,B00013
2,B00013,2019-11-01 00:47:06,2019-11-01 00:47:43,264.0,264.0,NaN,B00013
3,B00013,2019-11-01 00:47:09,2019-11-01 00:48:17,264.0,264.0,NaN,B00013
4,B00014,2019-11-01 00:56:35,2019-11-01 01:00:26,264.0,264.0,NaN,B00014

In [4]:
df.SR_Flag.unique()

array([nan])